main {
    flex: 1;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
      background: linear-gradient(to right, #87CEEB, #1E90FF);
  }
  header {
    background-color: #8B4513;
    color: #fff;
    padding: 20px; 
  }
  header h1 {
    margin: 0, 0, 20px, 0;
  }
  p{
    font-size: 1.3em;
    line-height: 2em;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-top: 0;
  }

  
  footer {
    background-color: #8B4513;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
  }
  .blocos{
    display: grid;
    grid-template-areas:
    "bloco1 bloco1 bloco2 bloco2"
    "bloco1 bloco1 bloco2 bloco2"
    "bloco3 bloco3 bloco4 bloco4"
    "bloco3 bloco3 bloco4 bloco4"
  }

   @media (max-width: 640px) {
    .blocos{
      display: grid;
      grid-template-areas:
      "bloco1 bloco1 "
      "bloco2 bloco2"
      "bloco3 bloco3"
      "bloco4 bloco4"
    }
  }
  
  .menu-banhos{
    line-height: 3em;
    padding: 3em;
  }
  .igredientes {
    color:darkorchid;
  }
  .contato {
    margin-bottom: 40px;
  }
  #map {
    margin: 25px;
  }
  @media (min-width: 769px) {
    .menu-toggle {
      display: none;
    }
    
  
    .menu {
      display: flex;
      flex-direction: row;
      gap: 100px;
      padding: 20px;
      
      
    }
  }
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        float: right;
      }
      .menu-toggle button {
        float: right;
      }
      .menu {
        display: none;
      }
    
      .menu.active {
        display: block;
      }
    }
    @media (min-width: 769px) {
        .menu-toggle {
          display: none;
        }
       
      }

  
  @media (max-width: 480px) {
    main {
      padding: 10px;
    }
  
    section h2 {
      font-size: 18px;
    }
  
    footer {
      padding: 10px;
    }
    
  }
  a{
    text-decoration: none;
  }